<h1>delete {{ this.page_data.job.name }}?</h1>
<a hx-delete="/jobs/{{ this.page_data.job.name }}/delete"
   hx-target="body"
   hx-swap="innerHTML">delete</a>
<a hx-get="/jobs" hx-target="body" hx-swap="innerHTML">cancel</a>
